ul.aiev3-dropdown-list {
  position: absolute;
  width: max-content;
  max-width: 200px;
  display: block;
  list-style-type: none;
  margin-block-start: 2px;
  margin-block-end: 2px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 12px;
  color: #000;
  font-weight: 400;
  z-index: 10001;
}

ul.aiev3-dropdown-list li:first-child {
  padding-top: 4px;
}

ul.aiev3-dropdown-list li:last-child {
  padding-bottom: 4px;
}

li.aiev3-drop-item {
  padding-left: 4px;
  padding-right: 4px;
}

li.aiev3-drop-no-items {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: not-allowed;
}

li.aiev3-drop-item {
  cursor: pointer;
}

li.aiev3-drop-item:hover {
  background-color: #f0f0f0;
}

li.aiev3-drop-items-error {
  color: red;
}

li.aiev3-more-items {
  font-style: italic;
}

.aiev3-tb.select-block {
  position: relative;
  padding: -1px;
  border-bottom: 1px solid #c8640a;
}
.aiev3 .select-block-caret {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4' viewBox='0 0 8 4'%3E%3Cpolygon points='0,0 8,0 4,4' fill='%23c8640a'/%3E%3C/svg%3E");
  display: inline-block;
  width: 8px;
  height: 4px;
  position: absolute;
  bottom: -4px;
  left: 2px;
  transform: translateX(-50%);
}
