.aiev3 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1px;
  overflow: hidden;
}

.aiev3:focus,
.aiev3:hover {
  overflow: visible;
}

.aiev3-resize {
  border: 1px dashed rgb(190, 190, 189);
  border-radius: 6px;
}

.aiev3-editing {
  padding: 2px;
  outline: 0;
  align-content: start;
  vertical-align: top;
  margin: -1px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  min-height: calc(100% - 5px);
  height: fit-content;
  width: calc(100% - 5px);
}

.aiev3.editing .aiev3-editing {
  background-color: white;
}

.aiev3-line {
  width: 100%;
}

.singleline .aiev3-line {
  flex-wrap: nowrap;
}

.multiline .aiev3-line {
  flex-wrap: wrap;
  max-width: 100%;
}

.aiev3-line.decimal {
  display: grid;
}

.aiev3-line.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.aiev3-line.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aiev3-line.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.aiev3-contents-info {
  display: none;
}

.aiev3-line.right > span {
  display: inline-flex;
}

.aiev3-span-point {
  display: table-cell;
}

.aiev3-span-point > span {
  display: inline-block;
}

.aiev3-span-point.lhs {
  align-content: end;
  text-align: right;
  grid-column: 1;
}

.aiev3-span-point.rhs {
  text-align: left;
  grid-column: 2;
}

.aiev3 .aiev3-tb.at-block {
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  margin-top: -2px;
  margin-bottom: -2px;
}

.aiev3 .aiev3-tb.is-active {
  border-top: 2px solid rgba(218, 165, 32, 0.8);
  border-bottom: 2px solid rgba(218, 165, 32, 0.8);
  margin-top: -2px;
  margin-bottom: -2px;
  background-color: rgba(218, 165, 32, 0.49);
}
