.aiev3 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1px;
  overflow: hidden;
}

.aiev3:focus,
.aiev3:hover {
  overflow: visible;
}

.aiev3.editing .aiev3-editing {
  border: 1px solid black;
  background-color: white;
}

.aiev3-editing {
  padding: 2px;
  border: 1px dashed rgb(190, 190, 189);
  border-radius: 6px;
  overflow-wrap: break-word;
  outline: 0;
  align-content: start;
  vertical-align: top;
  margin: -1px;
}

.aiev3-line {
  min-height: 1.2rem;
  width: 100%;
  white-space: nowrap;
}

.aiev3-line.decimal {
  position: relative;
  overflow: visible;
}

.aiev3-line.left {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.aiev3-line.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aiev3-line.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.aiev3-style-info {
  display: none;
}

.aiev3-line.right > span {
  display: inline-flex;
}

.aiev3-span-point {
  position: absolute;
  top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
  height: 100%;
}

.aiev3-span-point > span {
  max-height: 100%;
  height: 100%;
  display: inline-block;
}

.aiev3-span-point.lhs {
  text-align: right;
}

.aiev3-span-point.rhs {
  text-align: left;
  display: flex;
}
