.aiev3 {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px dashed rgb(190, 190, 189);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px 4px;
}

.aiev3.editing {
  border: 1px solid black;
  background-color: white;
}

.aiev3-editing {
  overflow: visible;
  overflow-wrap: normal;
  outline: 0;
  align-content: start;
  vertical-align: top;
  margin: -1px;
}

.aiev3-line {
  min-height: 1.2rem;
  width: 100%;
}

.aiev3-line.decimal {
  position: relative;
  overflow: visible;
}

.aiev3-line.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aiev3-line.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aiev3-line.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.aiev3-line.style-info {
  display: none;
}

.aiev3-span {
  display: inline-block;
  min-width: 4px;
}

.aiev3-span-point {
  position: absolute;
  top: 0;
}

.aiev3-span-point > span {
  height: 100%;
  display: inline-block;
}

.aiev3-span-point.lhs {
  text-align: right;
}

.aiev3-span-point.rhs {
  text-align: left;
}
