body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(128, 128, 128, 0.3);
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app-holder {
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app-border {
  border: 1px black solid;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.app-inner {
  width: 800px;
  position: relative;
  height: 95vh;
  opacity: 1;
  overflow: auto;
  background-color: antiquewhite;
}

div.row {
  display: flex;
  margin: 2px 0 0 2px;
  padding: 0.25rem;
}

span.label {
  margin-right: 6px;
  vertical-align: middle;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 3px;
  min-height: 16px;
  width: 150px;
  overflow: hidden;
}

span.content {
  vertical-align: middle;
  min-height: 30px;
  width: calc(100% - 155px);
}

select {
  height: 30px;
  border-radius: 6px;
  width: 240px;
  border: 1px solid black;
}

input {
  height: 28px;
  border-radius: 6px;
  width: 230px;
  border: 1px solid black;
  padding: 0 4;
  margin: 0;
}

.debug .aiev3 .lhs {
  background-color: rgba(0, 255, 0, 0.2);
}

.debug .aiev3 .rhs {
  background-color: rgba(255, 0, 0, 0.2);
}

.debug .aiev3 .left {
  background-color: rgba(255, 255, 0, 0.2);
}

.debug .aiev3 .center {
  background-color: rgba(0, 255, 255, 0.2);
}

.debug .aiev3 .right {
  background-color: rgba(255, 0, 255, 0.2);
}

.debug .aiev3 .aiev3-tb.at-block {
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  margin-top: -2px;
  margin-bottom: -2px;
}

.debug .aiev3 .aiev3-tb.is-active {
  border-top: 2px solid rgba(218, 165, 32, 0.8);
  border-bottom: 2px solid rgba(218, 165, 32, 0.8);
  margin-top: -2px;
  margin-bottom: -2px;
  background-color: rgba(218, 165, 32, 0.49);
}
